<!--
Names: Ron Nguyen, Jack (Zhenhuai) Zeng
Date: 1/12/2023
Description: This program will show image of a Cat with some styles
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets Home</title>
    <link rel = "stylesheet" href = "styles/styles.css">
</head>
<body>
    <h1>Welcome to Pets Home</h1>
    <img src='images/download.jpg' alt="picture of pets" width="100%">
</body>
</html>